<!--
pdv_afficher.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Points de vente {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h4>Points de vente de Alcina AG</h4>
            <br>
            <p class="texte-infos">Ajouter un nouveau point de vente :<a href="{{ url_for('pdv_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>
            <p class="texte-infos">Imprimer les données:<a id="print" role="button" onClick="window.print()"><img class="add" src="/static/images/print.png" alt="Imprimer"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden>id</th>
                        <th>Points de vente</th>
                        <th class="text-center align-middle">Editer</th>
                        <th class="text-center align-middle">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_pdv }}
                        </td>
                        <td class="align-middle">
                            {{ row.NomPDV }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('pdv_edit', id_pdv_edit_html=row.id_pdv) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('pdv_select_delete', id_pdv_delete_html=row.id_pdv) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun point de vente.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('pdv_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}