<!--
pdv_delete.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer un point de vente{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
            <p>Effacer ce point de vente.</p>
            <form method="POST" action="{{ url_for('pdv_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID PDV</th>
                            <th>Point de vente</th>
                            <th class="text-danger">Supprimer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_pdv_delete_html" value="{{ row.id_pdv }}">
                                </td>
                                <td>
                                    {{ row.NomPDV }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}