<!--
pdv_add.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter un point de vente{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form action="" method="POST">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter un nouveau point de vente</h4> <br>
                    <p><strong>Point de vente</strong></p>
                    <label>
                        <input type = "text" name= "name_pdv_html" autofocus />
                    </label>
                    <br><br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                    <br><br><br>
                    <img alt="Ajouter" height="150" id="pdv" src="/static/images/pdv.png"/>
                </div>
            </form>
        </body>
    </div>
{% endblock %}