<!--
potentiel_client_add.html
Wolff Jérémy - 2020.06.18 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter un potentiel-client{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter un nouveau potentiel-client</h4>
                    <br>
                    <p><strong>Potentiel-client:</strong></p>
                    <label>
                        <select name="AttribPotClient_html">
                          <option value="A-Pot">A-Pot</option>
                          <option value="B-Pot">B-Pot</option>
                          <option value="C-Pot">C-Pot</option>
                        </select>
                    </label>
                    </br></br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                </div>
            <br><br>
            </form>
        </body>
    </div>
{% endblock %}