<!--
potentiel_client_afficher.html
Wolff Jérémy - 2020.06.18 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Potentiels-client {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
            <h4>Recensement des potentiels-client attribués aux clients</h4>
            <br>
            <p class="texte-infos">Ajouter un nouveau potentiel-client :<a href="{{ url_for('potentiel_client_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Potentiels-client</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_potentiel_client }}
                        </td>
                        <td class="align-middle">
                            {{ row.AttribPotClient }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('potentiel_client_edit', id_potentiel_client_edit_html=row.id_potentiel_client) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('potentiel_client_select_delete', id_potentiel_client_delete_html=row.id_potentiel_client) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun potentiel-client.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('potentiel_client_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}