<!--
potentiel_client_edit.html
Wolff Jérémy - 2020.06.18 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer un potentiel-client{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
            <p>Editer ce potentiel-client</p>
            <form method="POST" action="{{ url_for('potentiel_client_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID POTENTIEL CLIENT</th>
                            <th>Potentiel-client</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                    <tbody>
                        <tr>
                            <td hidden>
                                <input type="hidden" name="id_potentiel_client_edit_html" value="{{ row.id_potentiel_client }}">
                            </td>
                            <td>
                                <label>
                                    <select name="name_edit_potentiel_client_html">
                                      <option value="A-Pot">A-Pot</option>
                                      <option value="B-Pot">B-Pot</option>
                                      <option value="C-Pot">C-Pot</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-warning" type="submit">OK!</button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}