<!--
400.html
Wolff Jérémy - 2020.05.01 - INFO1A
Affiche une erreur 404
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Homepage erreur 404 {% endblock %}
{% block body %}
 <div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				 erreur 404
			</h3>
			<main class="site-content">
				<p>
					404 Not Found<br>
					Le serveur n'a pas trouvé la ressource demandée. Quel dommage... Quel l'oeil de Sauron vous frappe!<br>
				</p>
			</main>
		</div>
	</div>
</div>
{% endblock %}