<!--
500.html
Wolff Jérémy - 2020.05.01 - INFO1A
Affiche une erreur 500
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Homepage erreur 500 {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				 erreur 500
			</h3>
			<p>
              Des détails techniques sur cette erreur 500
              <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status/500" target="_blank">https://developer.mozilla.org/fr/docs/Web/HTTP/Status/500</a><br>
              Pour d'autres renseignements sur les erreurs http
              <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status" target="_blank"></a>
			</p>
		</div>
	</div>
</div>
{% endblock %}