<!--
base.html
Wolff Jérémy - 2020.05.01 - INFO1A
Menu de navigation. En cliquant sur un onglet, une fonction ou une page est affichée.
------------------------------------------------------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>{% block title %}Mon projet{% endblock %}</title>

        <!-- Bootstrap CSS en local -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/style.css') }}">
        <!-- Stylesheets en local -->
        <!-- https://bootswatch.com/spacelab/ -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4.4.1/spacelab/bootstrap.min.css') }}">
        <!-- https://bootswatch.com/cyborg/ -->
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4.4.1/cyborg/bootstrap.min.css') }}">-->

        <!-- https://flask.palletsprojects.com/en/1.1.x/patterns/favicon/ -->
        <!-- Changement de l'icône informatique symbolisant l'application ; favicon "A" pour rappeler le nom de l'entreprise "Alcina AG" -->
        <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">

	    {% block head %}
        {% endblock %}
	</head>
	<body style="background: whitesmoke">

		{% block header %} {% endblock %}

		{% include 'flash_messages.html' %}
        {% include 'header.html' %}
        <!-- Navigation -->
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('home_page') }}"><img id="home" src="/static/images/home.png" width="40"  alt="Home"/></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
	        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
		        <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                       <a id="pdv-nav" class="nav-link" href="{{ url_for('produits_afficher', order_by='ASC', id_produits_sel=0) }}">Nos produits</a>
                    </li>
                    <li>
                        <a id="pdv-nav" class="nav-link" href="{{ url_for('pdv_avoir_donnees_afficher_concat', order_by='ASC', id_pdv_sel=0) }}">Nos points de vente</a>
                    </li>
                    <li>
                        <a id="pdv-nav" class="nav-link" href="/equipealcina">L'équipe Alcina</a>
                    </li>
                    <li class="nav-item dropdown">
			            <a id="prod-adress-nav" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listes - données clients</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="{{ url_for('pdv_afficher', order_by='ASC', id_pdv_sel=0) }}">Points de vente</a>
                            <a class="dropdown-item" href="{{ url_for('groupage_afficher', order_by='ASC', id_groupage_sel=0) }}">Groupages</a>
                            <a class="dropdown-item" href="{{ url_for('adresse_afficher', order_by='ASC', id_adresse_sel=0) }}">Carnet d'adresses</a>
                            <a class="dropdown-item" href="{{ url_for('personne_ref_afficher', order_by='ASC', id_pers_ref_sel=0) }}">Personnes de référence</a>
                            <a class="dropdown-item" href="{{ url_for('num_tel_fax_afficher', order_by='ASC', id_num_tel_sel=0) }}">Numéros de téléphone/fax</a>
                            <a class="dropdown-item" href="{{ url_for('mail_afficher', order_by='ASC', id_mail_sel=0) }}">Adresses de courriel</a>
                            <a class="dropdown-item" href="{{ url_for('date_visite_client_afficher', order_by='ASC', id_date_visite_client_sel=0) }}">Dates de visite</a>
                            <a class="dropdown-item" href="{{ url_for('potentiel_client_afficher', order_by='ASC', id_potentiel_client_sel=0) }}">Potentiels-client</a>
                        </div>
                    </li>
                </ul>
            </div>
            </nav>
        </div>

        <!-- End Navigation -->

        {% block body %}{% endblock %}

        {% block javascript %}

        {% endblock %}
        {% include 'footer.html' %}

    </body>
</html>