<!--
equipealcina.html
Wolff Jérémy - 2020.06.10 - INFO1A
Page présentant les collaborateurs d'Alcina AG. S'affiche en cliquant sur l'onglet de navigation "L'équipe Alcina"
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Equipe Alcina {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td id="tab-jjw">
                        <h5>Notre key account manager</h5><br>
                        <p>Monsieur Jean-Jacques Wolff</p>
                        <span style="font-size: small; margin-right: 40px;">Coordonnées :<br>
                            <a href="mailto:jean-jacques.wolff@alcina.ch">jean-jacques.wolff@alcina.ch</a><br>
                            <a href="tel:0788771697">078 877 16 97</a>
                        </span>
                        <br><br>
                        <img id="JJW" src="/static/images/jj.png" width="200" alt="Photo Jean-Jacques"/>
                        <br><br>
                    </td>
                    <td id="tab-roth">
                        <h5>Notre chef de vente</h5><br>
                        <p>Monsieur Thomas Roth</p>
                        <span style="font-size: small; margin-right: 40px;">Coordonnées :<br>
                            <a href="mailto:thomas.roth@alcina.ch">thomas.roth@alcina.ch</a><br>
                            <a href="tel:">07x xxx xx xx</a>
                        </span>
                        <br><br>
                        <img id="TR" src="/static/images/thomas-roth.png" width="250" alt="Photo Thomas"/>
                        <br><br>
                    </td>
                    <td id="tab-degen">
                        <h5>Notre responsable régionale</h5><br>
                        <p>Madame Susanne Degen</p>
                        <span style="font-size: small; margin-right: 40px;">Coordonnées :<br>
                            <a href="mailto:susanne.degen@alcina.ch">susanne.degen@alcina.ch</a><br>
                            <a href="tel:">07x xxx xx xx</a>
                        </span>
                        <br><br>
                        <img id="SD" src="/static/images/susanne-degen.png" width="300" alt="Photo Susanne"/>
                        <br><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}