<!--
flash_messages.html
Wolff Jérémy - 2020.05.01 - INFO1A
Fournit des commentaires aux utilisateurs de l'application
(notifications et messages d'erreur aux avertissements et alertes de progression)
Flask fournit un moyen simple d'envoyer des messages du serveur au client à l'aide de Flash
-------------------------------------------------------------------------------------------------------
-->

<!-- https://pythonise.com/series/learning-flask/flask-message-flashing -->
<div class="container" style="margin-top:60px;>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container text-center alert-dismissible fade show p-0">
                    <div class="alert alert-{{ category if category != 'message' else 'info' }}  mb-2" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>