<!--
footer.html
Wolff Jérémy - 2020.06.10 - INFO1A
"footer", pied de page, présent dans toute l'application en pied de page.
------------------------------------------------------------------------------------------------------------------------
-->

<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-12">
                <span>Alcina AG - Neue Bahnhofstrasse 160, 4132 Muttenz   <a href="https://www.alcina.ch" target="_blank">https://www.alcina.ch/</a></span>
                <br>
                <span id="linola"><img id="linola-footer" src="/static/images/linola.svg" alt="Aucune image disponible"/><a href="https://www.linola.com/fr-ch/" target="_blank">https://www.linola.com/fr-ch/</a></span>
                <span id="vagisan"><img id="vagisan-footer" src="/static/images/vagisan.svg" alt="Aucune image disponible"/><a href="https://www.vagisan.com/fr-ch/" target="_blank">https://www.vagisan.com/fr-ch/</a></span>
                <span id="plantur"><img id="plantur-footer" src="/static/images/plantur.svg" alt="Aucune image disponible"/><a href="https://www.plantur39.com/fr-ch/" target="_blank">https://www.plantur39.com/fr-ch/</a></span>
                <span id="alpecin"><img id="alpecin-footer" src="/static/images/alpecin.svg" alt="Aucune image disponible"/><a href="https://www.alpecin.com/fr-ch/" target="_blank">https://www.alpecin.com/fr-ch/</a></span>
            </div>
        </div>
  </div>
</footer>