<!--
header.html
Wolff Jérémy - 2020.06.10 - INFO1A
"header", haut de page, présent dans toute l'application en début de page.
------------------------------------------------------------------------------------------------------------------------
-->

<header>
    <link rel="stylesheet" type="text/css" href="/static/assets/style.css">
    <div class="container-fluid" id="header">
        <div class="row">
            <div class="col-md-6"><img id="alcina_header" src="/static/images/alcina.png" width="200" /></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end"><img id="swiss_header" src="/static/images/swiss-header.png" width="22" alt="Logo Suisse"/><span id="schweiz"><strong> Schweiz</strong></span></div>
        </div>
        <hr class="py-0 bg-light" />
    </div>
</header>
