<!--
home.html
Wolff Jérémy - 2020.05.01 - INFO1A
"Menu principal" de l'application. Présente l'entreprise Alcina AG.
------------------------------------------------------------------------------------------------------------------------
-->

<!-- Le fichier "home" hérite du fichier "base" -->
{% extends "base.html" %}
{% block head %}
{% endblock %}
<!-- à savoir: la balise "block" définit un bloc pouvant être surchargé par les gabarits enfants (ce fichier est enfant du fichier base) -->
{% block title %} Menu principal {% endblock %}
{% block body %}
<div class="container-fluid home" >
	<div class="row">
		<div class="col-md-12">
            <div class="popup" onclick="myFunction()">Veuillez cliquer ici Maître O. Maccaud, fils d'Isildur...<img id="maccaud" src="/static/images/maccaud.png" alt="Olivier Maccaud"/>
                <span class="popuptext" id="myPopup">Bon courage pour toutes ces corrections de projets, Maître Maccaud du Gondor...<br>Très bonnes vacances à vous!</span>
            </div>
            <script> // When the user clicks on <div>, open the popup
                function myFunction() {
                    const popup = document.getElementById("myPopup");
                    popup.classList.toggle("show");
                }
            </script>
            <h4>Bienvenue chez ALCINA AG</h4><br>
            <h5>Nos marques :</h5>
            <p class="texte-infos">Gamme des produits vendus par la maison Alcina</p>
            <img id="linola-home" src="/static/images/linola.svg" alt="Image Linola (non disponible)"/>
            <img id="vagisan-home" src="/static/images/vagisan.svg" alt="Image Vagisan (non disponible)"/>
            <img id="plantur-home" src="/static/images/plantur.svg" alt="Image Plantur (non disponible)"/>
            <img id="alpecin-home" src="/static/images/alpecin.svg" alt="Image Aplecin (non disponible)"/>
            <h4><br></h4>
            <h5>Les pharmacies :</h5>
            <p class="texte-infos">Principales pharmacies vendant nos produits (groupages)</p>
            <img id="sunstore-home" src="/static/images/sunstore.png" alt="Image Sunstore (non disponible)"/>
            <img id="amavita-home" src="/static/images/amavita.png" alt="Image Amavita (non disponible)"/>
            <img id="benu-home" src="/static/images/benu.png" alt="Image Benu (non disponible)"/>
            <img id="coopvitality-home" src="/static/images/coopvitality.png" alt="Image Coop Vitality (non disponible)"/>

            <h3><br></h3>
            <p class="message-bienvenue">Alcina est une marque exclusive de coiffure et de beauté qui allie parfaitement qualité allemande et tendances internationales et propose des produits de haute qualité aux professionnels de la coiffure, de la beauté et du maquillage.</p>
            <p class="message-bienvenue">Nos produits offrent ce qu'ils promettent et nous voulons vous aider à répondre aux besoins de vos clients.</p>
            <p class="message-bienvenue">ALCINA AG représente ALCINA en Suisse et au Liechtenstein depuis 1968.
                Notre service client à Muttenz et notre service sur le terrain dans toute la Suisse sont là pour vous.
                Chaque client est important pour nous, en tant que client, vous n'êtes pas un numéro avec nous. Nous sommes heureux de vous soutenir avec des produits de haute qualité et le meilleur service.
            </p><br>
            <div id="message-information">
                <h5>L'application, en quelques points :</h5>
                <ul><br>
                    <li>Support de présentation des produits à nos clients</li>
                    <li>Liste des points de vente</li>
                    <li>Carnet d'adresses</li>
                    <li>Personnes de référence</li>
                    <li>En cas de besoin, recensement des numéros de téléphone/fax, des adresses e-mail, des groupages, des potentiels-client et des dates de visite...</li>
                </ul>
                Le programme regroupe nos <strong>points de vente</strong>, y associant la <strong>personne
                référente</strong>, le <strong>groupage </strong>représenté,
                le <strong>potentiel-client</strong> attribué, le <strong>courriel</strong> et le <strong>téléphone/fax du
                responsable</strong>, nos dernières <strong>dates de visite</strong> ainsi que les <strong>produits</strong>
                vendus par point de vente.
                <br><br>
                <p><strong>Suite à une visite d'un point de vente, nous pouvons aisément mettre à jour les produits de la pharmacie et éditer ses données (telles que l'adresse et la dernière date de visite, par exemple).</strong></p>
            </div>
            <br>
            <p id="message-avertissement">Contenant des données confidentielles, ce programme doit rester en possession de nos collaborateurs Alcina uniquement.</p>

        </div>
    </div>
</div>
{% endblock %}