<!--
groupage_edit.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer un groupage{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
            <p>Modifier ce groupage</p>
            <form method="POST" action="{{ url_for('groupage_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID GROUPAGE</th>
                            <th>Groupage</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                    <tbody>
                        <tr>
                            <td hidden>
                                <input type="hidden" name="id_groupage_edit_html" value="{{ row.id_groupage }}">
                            </td>
                            <td>
                                <label>
                                    <input type = "text" name = "name_edit_groupage_html" value="{{ row.NomGroupage }}"/>
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-warning" type="submit">OK!</button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}