<!--
groupage_add.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter un groupage{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter un nouveau groupage</h4> <br>
                    <p><strong>Groupage</strong></p>
                    <label>
                        <input type = "text" name= "NomGroupage_html" autofocus />
                    </label>
                    </br></br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                </div>
            <br><br>
            </form>
        </body>
    </div>
{% endblock %}