<!--
groupage_afficher.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Affichage des groupages {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
            <h4>Groupages - Alcina AG</h4>
            <br>
            <p class="texte-infos">Ajouter un nouveau groupage :<a href="{{ url_for('groupage_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Groupages</th>
                        <th class="text-center align-middle">Editer</th>
                        <th class="text-center align-middle">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_groupage }}
                        </td>
                        <td class="align-middle">
                            {{ row.NomGroupage }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('groupage_edit', id_groupage_edit_html=row.id_groupage) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('groupage_select_delete', id_groupage_delete_html=row.id_groupage) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun groupage.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('groupage_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}