<!--
num_tel_fax_afficher.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Affichage des numéros de téléphone/fax {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Numéros de téléphone/fax des clients</h4>
            <br>
            <p class="texte-infos">Ajouter des nouveaux numéros :<a href="{{ url_for('num_tel_fax_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Numéro de téléphone</th>
                        <th class="align-middle">Numéro de fax</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_num_tel }}
                        </td>
                        <td class="align-middle">
                            {{ row.NumTel }}
                        </td>
                        <td class="align-middle">
                            {{ row.NumFax }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('num_tel_fax_edit', id_num_tel_edit_html=row.id_num_tel) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('num_tel_fax_select_delete', id_num_tel_delete_html=row.id_num_tel) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun numéro.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('num_tel_fax_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

