<!--
num_tel_fax_edit.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer un numéro de téléphone/fax{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <p>Modifier ce numéro</p>
            <form method="POST" action="{{ url_for('num_tel_fax_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Num_Tel</th>
                            <th>Numéro de téléphone</th>
                            <th>Numéro de fax</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_num_tel_edit_html" value="{{ row.id_num_tel }}">
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_NumTel_html" value="{{ row.NumTel}}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_NumFax_html" value="{{ row.NumFax }}"/>
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">OK!</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}