<!--
num_tel_fax_add.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter un numéro de téléphone/fax{% endblock %}
{% block body %}
    <div class="home">
        <body>
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <div style="text-align: center;">
                <h4>Ajouter un nouveau numéro</h4> <br>
                <p>Numéro de téléphone</p> 
                <label>
                    <input type = "text" name= "NumTel_html" />
                </label>
                <p>Numéro de fax</p>
                <label>
                    <input type = "text" name= "NumFax_html" />
                </label>
                <br><br>
                <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                <br><br>
                <img id="adresse" src="/static/images/num_tel.png" height="200"
                     alt="Image numéro tél indisponible"/>
            </div>
        </form>
        </body>
    </div>
{% endblock %}