<!--
num_tel_fax_delete.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer un numéro de téléphone/fax{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <p>Effacer ce numéro</p>
            <form method="POST" action="{{ url_for('num_tel_fax_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Num_Tel</th>
                            <th>Numéro de téléphone</th>
                            <th>Numéro de fax</th>
                            <th class="text-danger">Supprimer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_num_tel_delete_html" value="{{ row.id_num_tel }}">
                                </td>
                                <td>
                                    {{ row.NumTel }}
                                </td>
                                <td>
                                    {{ row.NumFax }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}