<!--
personne_ref_delete.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer données - Personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
            <p>Effacer cette personne</p>
            <form method="POST" action="{{ url_for('personne_ref_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Pers_Ref</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th class="text-danger">Supprimer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_pers_ref_delete_html" value="{{ row.id_pers_ref }}">
                                </td>
                                <td>
                                    {{ row.PrenomPersRef }}
                                </td>
                                <td>
                                    {{ row.NomPersRef }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}