<!--
personne_ref_afficher.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Personnes de référence {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Liste des personnes de référence des points de vente</h4>
            <br>
            <p class="texte-infos">Ajouter une nouvelle personne de référence :<a href="{{ url_for('personne_ref_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Prénom</th>
                        <th class="align-middle">Nom</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_pers_ref }}
                        </td>
                        <td class="align-middle">
                            {{ row.PrenomPersRef }}
                        </td>
                        <td class="align-middle">
                            {{ row.NomPersRef }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('personne_ref_edit', id_pers_ref_edit_html=row.id_pers_ref) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('personne_ref_select_delete', id_pers_ref_delete_html=row.id_pers_ref) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucune personne de référence.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('personne_ref_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

