<!--
personne_ref_add.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter - Personne{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter une nouvelle personne</h4> <br>
                    <p>Prénom</p>
                    <label>
                        <input type = "text" name= "PrenomPersRef_html" autofocus/>
                    </label>
                    <br><br>
                    <p>Nom</p>
                    <label>
                        <input type = "text" name= "NomPersRef_html" />
                    </label>
                    <br><br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                    <br><br><br>
                    <img id="adresse" src="/static/images/pers_ref.png" height="200"
                         alt="Image personne référence indisponible"/>
                </div>
            </form>
        <br><br><br>
        </body>
    </div>
{% endblock %}