<!--
personne_ref_edit.html
Wolff Jérémy - 2020.05.19 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer données - Personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
            <p>Modifier le nom et le prénom</p>
            <form method="POST" action="{{ url_for('personne_ref_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Pers_Ref</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_pers_ref_edit_html" value="{{ row.id_pers_ref }}">
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_PrenomPersRef_html" value="{{ row.PrenomPersRef }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_NomPersRef_html" value="{{ row.NomPersRef }}"/>
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">OK!</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}