<!--
pdv_avoir_donnees_modifier_tags_dropbox.html
Wolff Jérémy - 2020.06.10 - INFO1A
Modification des données grâce à un système de tags sous forme de "liste déroulante"
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Modification données {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.css') }}">
    <script src="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.js') }}"></script>
{% endblock %}
{% block body %}

    <style>
        ol, ul, li {
            list-style: none;
        }
    </style>

<div class="container">
		<div class="col-md-12">
            <table class="table-responsive-sm">
                {% if data_pdv_selected %}
                    <thead>
                        <tr>
                            <th hidden class="">id</th>
                            <th class="">Produits en stock du point de vente</th>
                        </tr>
                    </thead>
            {% endif %}

            {% for row in data_pdv_selected %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_produits }}
						</td>
						<td class="align-middle">
							{{ row.DescriptionProduit }}
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun produit.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('produits_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>

<div class="container">
    <div class="row mx-md-n5">
      <div class="col px-md-5">
          <div class="p-3">
            <form id="form_tags_select_confirm" action="{{ url_for('pdv_avoir_donnees_update_pdv_avoir_donnees_selected') }}" method="POST">
                <div class="qtagselect isw360">
                    <span>Produits</span>
                    <label for="OM_JTSD"></label><select id="OM_JTSD" name="name_select_tags" class="qtagselect__select" multiple>
                        {% for row in data_donnees_non_attribues %}
                            <option value="{{ row.id_produits }}" name="name_tags_non_attribues_html" class="isblue" >{{ row.DescriptionProduit }}</option>
                        {% endfor %}

                        {% for row in data_donnees_attribues %}
                            <option value="{{ row.id_produits }}" name="name_tags_attribues_html" class="ispurple" selected>{{ row.DescriptionProduit }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
          </div>
      </div>
      <div class="col px-md-5">
          <div class="p-3">
              <p>Mettre à jour les produits :</p>
              <input type="submit" form="form_tags_select_confirm" class="btn btn-warning" value="OK!">
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $('.qtagselect__select').tagselect({
    // Paramètres du composant : https://www.jqueryscript.net/form/tags-selector-tagselect.html
    // maximum number of tags allowed to select
      'maxTag': 100,
    // error message,
      'tagMessage': '100 tags au max !'
    });
</script>
{% endblock %}
