<!--
pdv_avoir_donnees_afficher.html
Wolff Jérémy - 2020.06.10 - INFO1A
Affichage des données de chaque point de vente: adresse, personne de référence, groupage, etc.
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Points de vente Alcina AG {% endblock %}
{% block body %}
<div class="container" id="data-pharm">
	<div class="col-md-12">
        <h4>Nos points de vente</h4>
        <div class="popup" onclick="myFunction()">Astuce pour rechercher facilement un point de vente...<img id="tip" src="/static/images/tip.png"/>
            <span class="popuptext" id="myPopup">Taper "ctrl + F" puis saisir la donnée recherchée <br>(OS Windows)</span>
        </div><br><br>
        <script> // When the user clicks on <div>, open the popup
            function myFunction() {
                const popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
        </script>

        <h6>Ajouter un nouveau point de vente:<a href="{{ url_for('pdv_add') }}" class="add" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></h6>
        <br>
        <h6>Imprimer les données:<a id="print" role="button" onClick="window.print()"><img class="add" src="/static/images/print.png" alt="Imprimer"></a></h6>
        <br>

		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Points de vente
						</th>
                        <th class="" >
                             Editer
						</th>
                        <th hidden class="" >
                            Supprimer
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
                  <th class="align-middle" hidden>
                      {{ row.id_pdv }}
                  </th>
                  <th class="align-middle">
                    {{ row.NomPDV }}
                  </th>
                  <th class="align-middle">
                    <a href="{{ url_for('pdv_edit', id_pdv_edit_html=row.id_pdv) }}" role="button"><img src="/static/images/update.png" alt="Image indisponible" height="50px"></a>
                  </th>
                  <th hidden class="align-middle">
                    <a href="{{ url_for('pdv_select_delete', id_pdv_delete_html=row.id_pdv) }}" role="button"><img src="/static/images/delete.png" alt="Image indisponible" height="50px"></a>
                  </th>
                <tr>

                <td class="align-middle" colspan="5">
                    <span class="adresse">Adresse :</span>
                    <span>{{ row.PDVAvoirAdresse|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('adresse_edit', id_adresse_edit_html=row.id_adresse) }}">Editer</a>
                    <br>
                    <span class="pers-ref">Personne de référence :</span>
                    <span>{{ row.PersTravaillerPDV|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('personne_ref_edit', id_pers_ref_edit_html=row.id_pers_ref) }}">Editer</a>
                    <br>
                    <span class="groupage">Groupage :</span>
                    <span>{{ row.PDVAppartenirGroupage|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('groupage_edit', id_groupage_edit_html=row.id_groupage) }}">Editer</a>
                    <br>
                    <span class="pot-client">Potentiel-client :</span>
                    <span>{{ row.PDVAvoirPotentiel|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('potentiel_client_edit', id_potentiel_client_edit_html=row.id_potentiel_client) }}">Editer</a>
                    <br>
                    <span class="courriel">Courriel :</span>
                    <span>{{ row.PersAvoirMail|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('mail_edit', id_mail_edit_html=row.id_mail) }}">Editer</a>
                    <br>
                    <span class="tel-fax">Numéro de téléphone/fax :</span>
                    <span>{{ row.PersAvoirTel|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('num_tel_fax_edit', id_num_tel_edit_html=row.id_num_tel) }}">Editer</a>
                    <br>
                    <span class="date-vis">Dernière date de visite :</span>
                    <span>{{ row.PDVAvoirDateVisite|default("Veuillez contacter le responsable pour la gestion de nouvelles données", True) }}</span>
                    <br>
                    <a href="{{ url_for('date_visite_client_edit', id_date_visite_client_edit_html=row.id_date_visite_client) }}">Editer</a>
                    <br>
                    <span class="produits">Produits :</span>
                    <br>
                    <span>{{ row.PDVVendreProduits|default("Pas de produits dans ce point de vente!", True) }}</span>
                    <br>
                    <a style="color:green;" href="{{ url_for('pdv_avoir_donnees_edit_pdv_avoir_donnees_selected', id_pdv_avoir_donnees_edit_html=row.id_pdv) }}" >Mettre à jour les produits en stock</a>
                    <br><br>
                </td>
            </tr>
            </tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun PDV.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('pdv_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
