/*
style.css
Wolff Jérémy - 2020.05.01 - INFO1A
Feuille de style gérant le design de l'application en supplément du framework Bootstrap
 */

/* J'ai omis de commenter les styles créés dans cette feuille de style...
Le positif? Je ne l'oublierai pas dans le futur! ;D */

#nav{
    background-color: white;
    padding: 15px;
    font-size: 20px;
}

#nav a {
	color: black;
	text-decoration: none;
	margin-left: 20px;
}

#nav a:hover{
    color: darkviolet;
}

#footer{
    background-color: white;
    padding: 1px;
}

#schweiz{
    font-size: 20px;
    color: black;

}

#header{
    padding-bottom: 30px;
    padding-top: 30px;
}

#pdv-nav{
    color: black;
    font-size: 18px;
}

#pdv-nav:hover{
    color: whitesmoke;
}

#prod-adress-nav{
    color: black;
    font-size: 18px;
}

#prod-adress-nav:hover{
    color: whitesmoke;
}


#linola{
    color: #007bff;
    width: 70px;
    font-size: 13px;
}

#linola-home{
    width: 200px;
    padding-right: 20px;
}


#vagisan{
    color: deeppink;
    font-size: 13px;
}

#plantur{
    font-size: 13px;
}

#alpecin{
    font-size: 13px;
}

#vagisan-footer{
    width: 70px;
    padding-right: 5px;
    padding-left: 10px;
}

#alpecin-footer{
    width: 70px;
    padding-right: 5px;
    padding-left: 10px;
}

#plantur-footer{
    width: 65px;
    padding-right: 5px;
    padding-left: 10px;
}

#linola-footer{
    width: 70px;
    padding-right: 5px;
}

#vagisan-home{
    width: 220px;
    padding-right: 20px;
}

#alpecin-home{
    width: 200px;
    padding-right: 20px;
}

#plantur-home{
    width: 170px;
    padding-right: 20px;
}

#amavita-home{
    width: 185px;
    padding-right: 20px;
}

#sunstore-home{
    width: 170px;
    padding-right: 20px;
}

#benu-home{
    width: 215px;
    padding-right: 20px;
}

#coopvitality-home{
    width: 180px;
    padding-right: 20px;
}

.img-thumbnail{
    width: 200px;
}

#message-avertissement{
    color: red;
}

#message-information{
    color: cornflowerblue;
}

.texte-infos{
    font-style: italic;
}

#tip{
    color: mediumblue;
    font-size: small;
}

#tip-img{
    height: 40px;
    padding-left: 20px;
}

.adresse{
    font-weight: bold;
    padding-right: 179px;
}

.pers-ref{
    font-weight: bold;
    padding-right: 63px;
}

.groupage{
    font-weight: bold;
    padding-right: 166px;
}

.pot-client{
    font-weight: bold;
    padding-right: 120px;
}

.courriel{
    font-weight: bold;
    padding-right: 179px;
}

.tel-fax{
    font-weight: bold;
    padding-right: 36px;
}

.date-vis{
    font-weight: bold;
    padding-right: 60px;
}

.produits{
    font-weight: bold;
}

#TR{
    padding-top: 65px;
    padding-bottom: 60px;
}

#JJW{
    padding-top: 20px;
}

#SD{
    padding-top: 109px;
    padding-bottom: 110px;
}

#tab-jjw{
    padding-right: 50px;
}

#tab-roth{
    padding-right:  100px;
}

#id{
    padding-right: 145px;
}

.home{
    text-align: justify;
}

#tip{
    height: 50px;
    padding-left: 25px;
}

#maccaud{
    height: 65px;
    padding-left: 25px;
}

.add{
    margin-left: 25px;
    height: 50px;
}

.save{
    height: 50px;
}

#print{
    margin-left: 25px;
}

 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup:hover{
    color: orangered;
    font-size: 17px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
