<!--
produits_delete.html
Wolff Jérémy - 2020.05.10 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer un produit{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <p>Effacer ce produit</p>
            <form method="POST" action="{{ url_for('produits_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>
                                ID Produits
                            </th>
                            <th>
                                Marque
                            </th>
                            <th>
                                Description du produit
                            </th>
                            <th>
                                Pharmacode
                            </th>
                            <th>
                                Image
                            </th>
                            <th class="text-danger">
                                Supprimer
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_produits_delete_html" value="{{ row.id_produits }}">
                                </td>
                                <td>
                                    {{ row.MarqueProduit }}
                                </td>
                                <td>
                                    {{ row.DescriptionProduit }}
                                </td>
                                <td>
                                    {{ row.Pharmacode }}
                                </td>
                                <td>
                                    {{ row.ImageProduit }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}