<!--
produits_afficher.html
Wolff Jérémy - 2020.05.10 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Produits Alcina AG {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Produits de la maison Alcina AG</h4>
            <br>
            <p class="texte-infos">Ajouter un nouveau produit :<a href="{{ url_for('produits_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>
            <p class="texte-infos">Imprimer la liste des produits :<a id="print" role="button" onClick="window.print()"><img class="add" src="/static/images/print.png" alt="Imprimer"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Marque</th>
                        <th class="align-middle">Description du produit</th>
                        <th class="align-middle">Pharmacode</th>
                        <th class="align-middle">Image</th>
                        <th class="align-middle">Editer</th>
                        <th class="align-middle">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_produits }}
                        </td>
                        <td class="align-middle">
                            {{ row.MarqueProduit }}
                        </td>
                        <td class="align-middle">
                            {{ row.DescriptionProduit }}
                        </td>
                        <td class="align-middle">
                            {{ row.Pharmacode }}
                        </td>
                        <td>
                            <img class="img-thumbnail" src="{{ row.ImageProduit|default(None, True) }}" style="border:0; max-height: 269px" alt="-  -  -  -  -  -  -  Ø  -  -  -  -  -  -  -">
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('produits_edit', id_produits_edit_html=row.id_produits) }}"role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('produits_select_delete', id_produits_delete_html=row.id_produits) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucun produit.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('produits_add') }}" role="button">Ajouter</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

