<!--
produits_edit.html
Wolff Jérémy - 2020.05.10 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer un produit{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
        <p>Modifier ce produit</p>
        <form method="POST" action="{{ url_for('produits_update') }}">
            <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>
                                ID Produits
                            </th>
                            <th>
                                Marque
                            </th>
                            <th>
                                Description du produit
                            </th>
                            <th>
                                Pharmacode
                            </th>
                            <th>
                                Image (URL de l'image)
                            </th>
                            <th>
                                Editer
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_produits_edit_html" value="{{ row.id_produits }}">
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_MarqueProduit_html" value="{{ row.MarqueProduit }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_DescriptionProduit_html" value="{{ row.DescriptionProduit }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_Pharmacode_html" value="{{ row.Pharmacode }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_ImageProduit_html" value="{{ row.ImageProduit }}"/>
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">OK!</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}