<!--
produits_add.html
Wolff Jérémy - 2020.05.10 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter un produit{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter un nouveau produit</h4><br>
                    <p>Marque</p>
                    <label>
                        <input type = "text" name= "MarqueProduit_html" />
                    </label>
                    <br><br>
                    <p>Description du produit</p>
                    <label>
                        <input type = "text" name= "DescriptionProduit_html" />
                    </label>
                    <br><br>
                    <p>Pharmacode</p>
                    <label>
                        <input type = "text" name= "Pharmacode_html" />
                    </label>
                    <br><br>
                    <p>URL de l'image du produit</p>
                    <label>
                        <input type = "text" name= "ImageProduit_html" />
                    </label>
                    <br><br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                </div>
            </form>
        </body>
    </div>
{% endblock %}