<!--
adresse_delete.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer une adresse{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <p>Effacer cette adresse</p>
            <form method="POST" action="{{ url_for('adresse_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Adresse</th>
                            <th>Rue</th>
                            <th>Numéro de rue</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Canton</th>
                            <th class="text-danger">Supprimer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_adresse_delete_html" value="{{ row.id_adresse }}">
                                </td>
                                <td>
                                    {{ row.RueNom }}
                                </td>
                                <td>
                                    {{ row.NumeroRue }}
                                </td>
                                <td>
                                    {{ row.CodePostal }}
                                </td>
                                <td>
                                    {{ row.VilleNom }}
                                </td>
                                <td>
                                    {{ row.Canton }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}