<!--
adresse_add.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter une adresse{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter une nouvelle adresse</h4><br>
                    <p>Rue</p>
                    <label>
                        <input type = "text" name= "RueNom_html" />
                    </label>
                    <p>Numéro de rue</p>
                    <label>
                        <input type = "text" name= "NumeroRue_html" />
                    </label>
                    <p>Code postal</p>
                    <label>
                        <input type = "text" name= "CodePostal_html" />
                    </label>
                    <p>Ville</p>
                    <label>
                        <input type = "text" name= "VilleNom_html" />
                    </label>
                    <p>Canton</p>
                    <label>
                        <input type = "text" name= "Canton_html" />
                     </label>
                    <br><br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                </div>
            </form>
        </body>
    </div>
{% endblock %}