<!--
adresse_edit.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer une adresse{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <p>Modifier cette adresse</p>
            <form method="POST" action="{{ url_for('adresse_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID Adresse</th>
                            <th>Rue</th>
                            <th>Numéro de rue</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Canton</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <input type="hidden" name="id_adresse_edit_html" value="{{ row.id_adresse }}">
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_RueNom_html" value="{{ row.RueNom }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_NumeroRue_html" value="{{ row.NumeroRue }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_CodePostal_html" value="{{ row.CodePostal}}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_VilleNom_html" value="{{ row.VilleNom }}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type = "text" name = "name_edit_Canton_html" value="{{ row.Canton }}"/>
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">OK!</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}