<!--
adresse_afficher.html
Wolff Jérémy - 2020.05.01 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Affichage des adresses {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Adresses des points de vente - Alcina AG</h4>
            <br>
            <p class="texte-infos">Ajouter une nouvelle adresse :<a href="{{ url_for('adresse_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>
            <p class="texte-infos">Imprimer les données:<a id="print" role="button" onClick="window.print()"><img class="add" src="/static/images/print.png" alt="Imprimer"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Rue</th>
                        <th class="align-middle">Numéro de rue</th>
                        <th class="align-middle">Code postal</th>
                        <th class="align-middle">Ville</th>
                        <th class="align-middle">Canton</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_adresse }}
                        </td>
                        <td class="align-middle">
                            {{ row.RueNom }}
                        </td>
                        <td class="align-middle">
                            {{ row.NumeroRue }}
                        </td>
                        <td class="align-middle">
                            {{ row.CodePostal }}
                        </td>
                        <td class="align-middle">
                            {{ row.VilleNom }}
                        </td>
                        <td class="align-middle">
                            {{ row.Canton }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('adresse_edit', id_adresse_edit_html=row.id_adresse) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('adresse_select_delete', id_adresse_delete_html=row.id_adresse) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucune adresse.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('adresse_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

