<!--
mail_edit.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer une adresse e-mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <p>Editer cette adresse e-mail</p>
            <form method="POST" action="{{ url_for('mail_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID MAIL</th>
                            <th>Adresse e-mail</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                    <tbody>
                        <tr>
                            <td hidden>
                                <label>
                                    <input size="400" name="id_mail_edit_html" value="{{ row.id_mail }}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type = "text" name = "name_edit_mail_html" value="{{ row.NomMail }}"/>
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-warning" type="submit">OK!</button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}