<!--
mail_delete.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin de suppression d'une donnée (Delete, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Supprimer une adresse e-mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
            <p>Effacer cette adresse e-mail</p>
            <form method="POST" action="{{ url_for('mail_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID MAIL</th>
                            <th>Adresse e-mail</th>
                            <th class="text-danger">Supprimer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td hidden>
                                    <label>
                                        <input name="id_mail_delete_html" value="{{ row.id_mail }}">
                                    </label>
                                </td>
                                <td>
                                    {{ row.NomMail }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">Confirmer</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}