<!--
mail_afficher.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Affichage des adresses e-mail {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
            <h4>Adresses e-mail de nos clients</h4>
            <br>
            <p class="texte-infos">Ajouter une nouvelle adresse de courriel :<a href="{{ url_for('mail_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Adresses e-mail</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_mail }}
                        </td>
                        <td class="align-middle">
                            {{ row.NomMail }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('mail_edit', id_mail_edit_html=row.id_mail) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('mail_select_delete', id_mail_delete_html=row.id_mail) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucune adresse e-mail.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('mail_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}