<!--
date_visite_client_edit.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin de mise à jour d'une donnée (Update, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Editer une date de visite{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
            <p>Editer cette date de visite</p>
            <form method="POST" action="{{ url_for('date_visite_client_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th hidden>ID DATE DE VISITE</th>
                            <th>Date de visite</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                    <tbody>
                        <tr>
                            <td hidden>
                                <label>
                                    <input name="id_date_visite_client_edit_html" value="{{ row.id_date_visite_client }}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type = "text" name = "name_edit_date_visite_client_html" value="{{ row.DateVisiteClient }}"/>
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-warning" type="submit">OK!</button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}