<!--
date_visite_client_afficher.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin d'afficher les données (Read, actions CRUD) dans le navigateur
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %} Affichage des dates de visite {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
            <h4>Dates de visite dans nos points de vente</h4>
            <br>
            <p class="texte-infos">Ajouter une nouvelle date de visite :<a href="{{ url_for('date_visite_client_add') }}" role="button"><img class="add" src="/static/images/add.png" alt="Ajouter"></a></p>
            <br>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th hidden class="align-middle">id</th>
                        <th class="align-middle">Dates de visite</th>
                        <th class="align-middle text-center">Editer</th>
                        <th class="align-middle text-center">Supprimer</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td hidden class="align-middle">
                            {{ row.id_date_visite_client }}
                        </td>
                        <td class="align-middle">
                            {{ row.DateVisiteClient }}
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('date_visite_client_edit', id_date_visite_client_edit_html=row.id_date_visite_client) }}" role="button">Editer</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('date_visite_client_select_delete', id_date_visite_client_delete_html=row.id_date_visite_client) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucune date de visite.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('date_visite_client_add') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}