<!--
date_visite_client_add.html
Wolff Jérémy - 2020.06.19 - INFO1A
Répond au besoin de créer des données (Create, actions CRUD) au sein de la base de données
------------------------------------------------------------------------------------------------------------------------
-->

{% extends "base.html" %}
{% block title %}Ajouter une date de visite{% endblock %}
{% block body %}
    <div class="home">
        <body>
            <form method="POST" action="">
                <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <h4>Ajouter une nouvelle date de visite client dans un point de vente</h4>
                    <br>
                    <p><strong>Date de visite <small>(format AAAA-MM-JJ)</small></strong></p>
                    <label>
                        <input type = "text" name= "DateVisiteClient_html" autofocus />
                    </label>
                    </br></br>
                    <button type = "submit" ><img class="save" src="/static/images/save.png" alt="Enregistrer"></button>
                </div>
            <br><br>
            </form>
        </body>
    </div>
{% endblock %}